.git/
.gitignore
.gcloudignore
.secrets/
.venv/
venv/
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
VHF_Storage/
build/
dist/
release/
__pycache__/
*.pyc
*.log
*.pfx
*.p12
*.key
*.pem
stdin.txt
stdout.txt
stderr.txt
err.txt
out.txt
